.landing {
    position: relative;
    width: 100%;
}

.landing-image-container {
    width: 100%;
    height: 100vh;
}

.landing-image-container::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.landing-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-text {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 1rem;
    right: 1rem;
}

.landing-minor {
    margin: 1rem 0;
    color: #fff;
}

.landing-cta {
    text-decoration: none;
    color: #fff;
    margin: 2rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    padding: 0.5rem 1rem;
}

.landing-cta:hover {
    color: #4CAF50;
    background-color: #fff;
    border: 1px solid #4CAF50;
}

.why-us {
    padding: 1rem;
}

.why-us-title {
    color: #4CAF50;
    margin-bottom: 1rem;
}

.volunteer-form {
    padding: 1rem;
}

.volunteer-form-title {
    color: #4CAF50;
    margin-bottom: 1rem;
}

.about-volunteering {
    margin-bottom: 1rem;
}

.personal-information {
    padding: 1rem 0;
    border-bottom: 1px solid #4CAF50;
}

.personal-information-title {
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.personal-information input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
}

.availability {
    padding: 1rem 0;
    border-bottom: 1px solid #4CAF50;    
}

.availability-title {
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.availability label {
    width: 100%;
    display: flex;
    align-items: center;
    color: #072366;
    margin-bottom: 1rem;
}

.availability label input{
    margin-right: 1rem;
}

.roles {
    padding: 1rem 0;
}

.roles-title {
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.roles label {
    width: 100%;
    display: flex;
    align-items: center;
    color: #072366;
    margin-bottom: 1rem;
}

.roles label input{
    margin-right: 1rem;
}

.experiences {
    margin: 1rem 0;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.experiences-title {
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.confirm-application {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #4CAF50;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .landing-text {
        top: 40%;
        left: 2rem;
        right: 2rem;
    }

    .landing-major {
        font-size: 3.5rem;
        max-width: 70%;
    }

    .landing-minor {
        width: 60%;
        font-size: 1.35rem;
    }

    .landing-cta {
        font-size: 1.5rem;
        padding: 0.75rem 1.5rem;
    }

    .why-us {
        width: 60%;
        margin: 2rem auto;
        padding: 0 2rem ;
        display: flex;
        flex-direction: column;
    }

    .volunteer-form {
        max-width: 60%;
        margin: 2rem auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}