.card {
    flex: 1;
    border-radius: 0.5rem;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #ddd;
}

.card:hover {
    cursor: pointer;
}

.card-image-container {
    width: 100%;
    border-radius: 0.5rem;
}

.card-image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0.5rem 0.5rem ;
}

.card-title {
    margin-bottom: 0.5rem;
    color: #4CAF50;
}

.summary {
    margin-bottom: 0.5rem;
}

.card-btn {
    text-align: center;
    padding: 1rem;
    border: 1px solid #fff;
    margin-top: 1rem;    
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.2rem;
}

.card-btn:hover {
    background-color: #fff;
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card {
        width: 30%;
    }
}