.header {
    max-width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dark {
    background-color: red;
}

.logo-container {
    width: 30px;
    height: 30px;
}

.logo {
    width: 100%;
    height: auto;
}

.company-name {
    color: white;
    margin-left: 0.5rem;
    font-weight: 500;
    margin-top: 0.25rem;
}

.row-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #111;
    padding: 0 0.5rem;
}

/* fixed to top for mobile screens */
.fixed-to-top {
    position: fixed;
    top: 0;
    z-index: 20;
}

.search-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
}

.nav-links {
    width: 100%;
    display: none;
    flex-direction: column;
    color: #fff;
}

/* show nav-links on mobile */
.show {
    display: flex;
}

/* change the active navbar links */ 
.active {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    border-bottom: 2px solid white;
}

.nav-links a {
    text-decoration: none;
    width: 100%;
    color: #fff;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.search-container {
    width: 70%;
    display: flex;
    align-items: center;
    border: none;
}

.search-input {
    width: 85%;
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.search-btn {
    width: 15%;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .row-two {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        padding: 0.5rem 2rem;
        margin: 0;
    }

    .search-section {
        width: auto;
        padding: 0;
    }

    .nav-links {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .nav-links a {
        width: auto;
        padding: 0.5rem 1rem;
    }

    .nav-links a:nth-last-child(1) {
        background-color: #4CAF50;
    }

    .search-container {
        width: auto;
    }

    .menu-icon {
        display: none;
    }
}