.home-page {
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-image-container {
    width: 100%;
    height: 100vh;
}

.carousel-image-container::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.donations-cta, .about-cta {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: #4CAF50;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
}

.donations-cta:hover, .about-cta:hover {
    background-color: #fff;
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

.heading-text {
    position: absolute;
    width: 90%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.heading-major {
    margin-bottom: 2rem;
}

.welcome {
    margin-top: 2rem;
    padding: 1rem;
}

.welcome-title {
    color: #4CAF50;
    margin-bottom: 1rem;
}

.welcome-info {
    text-align: justify;
    margin: 1rem 0;
    color: #072366;
}

.red {
    color: red;
    font-weight: 700;
}

.more-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    perspective: 500px;
}

.conclusion {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.article {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.article-img-container {
    width: 100%;
    margin-bottom: 1rem;
}

.article-img-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5rem;
}


.article p {
    margin-bottom: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .heading-text {
        bottom: 25%;
        font-size: 2rem;
    }

    .heading-major {
        font-size: 2.5rem;
        width: 50%;
    }

    .carousel-cta {
        position: absolute;
        bottom: 20%;
        left: 20%;
        padding: 1rem;
        transform: translate(-50%, -50%);
    } 

    .prev-container {
        top: 40%;
        left: 1rem;
    }

    .next-container {
        top: 40%;
        right: 1rem;
    }

    .welcome {
        padding: 2rem;
    }

    .welcome-info {
        width: 70%;
        margin: 1rem 0;
    }

    .more-info {
        flex-direction: row;
        justify-content: space-between;
        gap: 2%;
        padding: 2rem;
    }

    .conclusion {
        flex-direction: column;
        padding: 0.5rem 2rem;
        gap: 2%;
    }

    .article {
        flex: 1;
        flex-direction: row;
        align-items: center;
        gap: 2%;
    }

    .article-img-container {
        width: 90%;
    }

}
